<h1>Mock Redis</h1>
<form action="/add" method="POST">
  <label for="key">key:</label>
  <input type="text" name="key" />
  <br/> <br/>
  <label for="value">value:</label>
  <input type="text" name="value" />
  <br/> <br/>
  <input type="submit" />
</form>

<br/> <br/> <br/>

<form action="/remove" method="POST">
  <label for="key">key:</label>
  <input type="text" name="key" />
  <input type="submit" />
</form>

# <h3> @data.to_s </h3>
<p>Find me in app/views/fedis/index.html.erb</p>
